@import url('https://fonts.googleapis.com/css2?family=Parisienne&family=Sacramento&display=swap');
*{
    margin: 0;
    padding: 0;
}
h1{
    font-family: 'Parisienne', cursive;
}
.top-section{
    background-color: #FC2947;
}
.a{
    background-color: #FC2947;
    height: 400px;
}